@media screen and (max-width: 660px) {
  section#resultContainer{
    top: 150px;
    width: 100%;
    left: 0px;
  }
  #inputBox {
    width: 80vw;
  }
  div.modalContent {
    width: 90%;
  }
  div#result {
    width: 90%;
  }
  
}
header {
  padding: 10px;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  background: black;
  flex-flow: wrap;
  z-index: 1;
}

#searchit {
  font-family: 'Livvic', sans-serif;
  font-size: 2.4em;
  font-weight: bolder;
}

#inputBox {
  font-family: 'Poiret One', cursive;
  border-radius: 6px;
  border: solid;
  padding-left: 6px;
  font-size: 2.5em;
  margin: 0px 20px;
}

#it {
  color: rgb(255, 0, 0);
}

#inputBox::placeholder {
  color: lightgray;
  font-weight: bold;
}
#resultContainer{
  width: 80vw;
  position: relative;
  top: 70px;
  left: 30px;
  display: flex;
  justify-content: center;
}

#result {
  width: 55vw;
  font-family: 'Poiret One', cursive;
  font-size: 1.8em;
}
#result div{
  margin: 10px 0px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.match {
  background: rgb(163, 255, 0);
}

.modalContainer {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.363);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: auto;
}
.modalContent {
  background: rgb(255, 255, 255);
  margin: 10% auto;
  width: 45%;
  height: 320px;
  border-radius: 8px;
  border: 2px solid #34ef34;
  z-index: 3;
}
#closeModal {
  color: rgb(160, 156, 156);
  float: right;
  padding-right: 6px;
  font-size: 1.6em;
  font-family: 'M PLUS 1p', sans-serif;
}
#closeModal:hover, #closeModal:focus{
  color: red;
  cursor: pointer;
}
#modalResults {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.6em;
  clear: both;
  padding-left: 10px;
}

.props {
  font-weight: bold;
}

#inputHint {
  display: none;
  color: red;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  position: relative;
  width: 300px;
  height: 50px;
}